.maindetails {
    margin-left: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .profile-card {
    background: #dddae4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin-top: 90px;
    text-align: center;
  }
  
  .profile-header {
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .profile-header h2 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .profile-header p {
    font-size: 16px;
    color: #555;
  }
  
  .profile-body {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .profile-body p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .profile-actions {
    display: flex;
    justify-content: center;
  }
  
  .edit-button {
    background-color: #1F2937;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
    background-color: #ff742f;
  }
  
  .signupform {
    margin-top: 30px;
    width: 100%;
  }
  